{% extends "Day.jinja2" %}
{% block  content %}
    <form method="post" action="save">
        <textarea class="name" name="articleType">Плохое</textarea>
        <textarea class="text" name="text">{{ text }}</textarea>
        <a href="/save"><button class="Save">Сохранить</button></a>
    </form>
{% endblock %}